.button {
    display: flex;
    justify-content: center;
    align-items: center;

    font: 14px/16px "Roboto";
    
    border: 1px solid blue;
    background-color: white;
    padding-inline: 10px;
    padding-block: 10px;

    cursor: pointer;
}
