.indicator {
    width: 25px;
    height: 25px;
    border-radius: 999px;
    border: 1px solid black
}

.indicator_active-0 {
    background-color: #00E600;
}

.indicator_active-1 {
    background-color: #FF053F;
}