.controls {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    padding-inline: 15px;
    padding-block: 15px;
}

.points-block,
.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.controls__main-buttons-container {
    display: flex;
    gap: 20px;
}

.points-block__points-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.points-container__point {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 14px/16px "Roboto";
}

.points-container__text {
    min-width: 40px;
}