.legend {
    position: absolute;
    inset-inline-start: 10px;
    inset-block-end: 10px;
    width: 170px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legend__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend__label {
    color: white;
    font: 400 14px/16px "Roboto";
}

.legend__info {
    width: 30px;
    height: 4px;
    border-radius: 999px;
}